# This is a configuration file for the MOC player. It should be named 'config'
# and placed in directory ~/.moc/
# Comments begins with '#'.
# You can use quotes and escape ('\') in parameters


# Show file titles (title, author, album) instead of file names.
ReadTags		= yes

# Directory in which you store music files, if you specify it, you will be able
# to quickly go to this directory with the '-m' parameter or the 'm' command.
#MusicDir		= "/home/joe/music"

# How to sort? FileName is the only option for now.
Sort			= FileName

# Show errors in the streams, for example CRC errors or broken frames in mp3
# files
ShowStreamErrors	= no

# Turn on repeat.
Repeat			= no

# Turn on shuffle.
Shuffle			= no

# Turn on AutoNext
AutoNext		= yes

# Default FormatString
# %n - Track number
# %a - Artist
# %A - Album
# %t - Title
# %(X:TRUE:FALSE) - ternary expression - if X exists, do TRUE, otherwaise
#                   FALSE. '\' - escape character (must be double, because of 
#                   config interpreter). man zshmisc for more info.
FormatString		= "%(n:%n :)%(a:%a - :)%(t:%t:)%(A: \(%A\):)"

# Output buffer size in kilobytes
OutputBuffer		= 2048

# Sound driver - OSS, ALSA, or null (only for debugging)
SoundDriver		= OSS

# OSS output device
OSSDevice		= /dev/dsp

# OSS Mixer device
OSSMixerDevice		= /dev/mixer

# OSS Mixer channel: pcm or master
OSSMixerChannel		= pcm

# Show files with dot at the beginning?
ShowHiddenFiles		= no

# Start in the music directory if no arguments are given. If set to no, start
# in the current directory.
StartInMusicDir		= no

# Hide file name extensions
HideFileExtension	= no

# Show file format in menu.
ShowFormat		= yes

# Show file time in menu. Possible options: yes, no, IfAvailable - show the
# time only when it was read before (often works faster)
ShowTime		= IfAvailable

# Theme file. This can be absolute path or relative to ~/.moc/themes/
# Theme			= example_theme

# MOC directory - where pid file, socket, and state files are stored.
# You can use ~ at the begining
# MOCDir		= ~/.moc
