# This is a configuration file for the MOC player. It should be named 'config'
# and placed in directory ~/.moc/
# Comments begins with '#'.
# You can use quotes and escape ('\') in parameters


# Show file titles (title, author, album) instead of file names.
ReadTags		= yes

# Directory in which you store music files, if you specify it, you will be able
# to quickly go to this directory with the '-m' parameter or the 'm' command.
# This can also point to a playlist.
#MusicDir		= "/home/joe/music"

# How to sort? FileName is the only option for now.
Sort			= FileName

# Show errors in the streams, for example CRC errors or broken frames in mp3
# files
ShowStreamErrors	= no

# Ignore CRC errors in MP3 files. Most players do that, so the default value is
# set to yes.
Mp3IgnoreCRCErrors	= yes

# Turn on repeat.
Repeat			= no

# Turn on shuffle.
Shuffle			= no

# Turn on AutoNext
AutoNext		= yes

# Default FormatString
# %n - Track number
# %a - Artist
# %A - Album
# %t - Title
# %(X:TRUE:FALSE) - ternary expression - if X exists, do TRUE, otherwaise
#                   FALSE. '\' - escape character (must be double, because of 
#                   config interpreter). man zshmisc for more info.
FormatString		= "%(n:%n :)%(a:%a - :)%(t:%t:)%(A: \(%A\):)"

# Output buffer size in kilobytes. Minimum value is 128KB. */
OutputBuffer		= 2048

# Input buffer size in kilobytes. Minimum value is 32KB. */
InputBuffer		= 512

# How much to fill the input buffer before playing (in kilobytes)?
# This can't be more than InputBuffer value.
# Remember that for network streams beside the positive effect this also causes
# delay between what you can hear and what is broadcasted.
Prebuffering		= 64

# Use this HTTP proxy server for internet streams. If not set, the
# environmential variables http_proxy and ALL_PROXY will be used if present.
#HTTPProxy		= my_proxy:port

# Sound driver - OSS, ALSA, JACK, or null (only for debugging)
# You can enter more than one driver separated by a coma. The first working
# driver will be used.
SoundDriver		= JACK, ALSA, OSS

# Jack output settings
JackOutLeft		= "alsa_pcm:playback_1"
JackOutRight		= "alsa_pcm:playback_2"

# OSS output device
OSSDevice		= /dev/dsp

# OSS Mixer device
OSSMixerDevice		= /dev/mixer

# OSS Mixer channel: pcm or master
OSSMixerChannel		= pcm

# Second OSS Mixer channel: pcm or master
OSSMixerChannel2	= master

# ALSA mixer device
AlsaMixer 		= PCM

# Second ALSA mixer device
AlsaMixer2		= Master

# ALSA output device
AlsaDevice		= default

# Show files with dot at the beginning?
ShowHiddenFiles		= no

# Start in the music directory if no arguments are given. If set to no, start
# in the current directory.
StartInMusicDir		= no

# Hide file name extensions
HideFileExtension	= no

# Show file format in menu.
ShowFormat		= yes

# Show file time in menu. Possible options: yes, no, IfAvailable - show the
# time only when it was read before (often works faster)
ShowTime		= IfAvailable

# Theme file. This can be absolute path or relative to
# /usr/share/moc/themes/ (depends on installation prefix) or ~/.moc/themes/
# Theme			= example_theme

# The theme used when running on on xterm
# XTermTheme		= transparent-background

# MOC directory - where pid file, socket, and state files are stored.
# You can use ~ at the begining
# MOCDir		= ~/.moc

# Use mmap() to read files (currently used for reading mp3). mmap() is much
# slower on NFS.
UseMmap			= yes

# Perform character set conversion using iconv() to tags and file names
# read from playlist files. This option has format: FROM:TO.
# To get list of supported sets use the iconv -l command.

# Just strip non-ASCII chars
#TagsIconv		= ASCII:ASCII

# Usefull for Poles: Convert from Windows encoding to ISO
#TagsIconv		= WINDOWS-1250:ISO-8859-2

# Strip non-ASCII chars from file names
#FileNamesIconv		= ASCII:ASCII

# Remember the playlist after exit?
SavePlaylist		= yes

# When using more than one client (interface) at a time, do the share the
# playlist?
SyncPlaylist		= yes

# Choose a keymap file (relative to ~/.moc/ or absolute path)
# Example keymap with description is included (keymap.example).
#Keymap			= my_keymap

# Use ASCII characters instead of graphic for drawing lines. This helps on
# some terminals.
ASCIILines		= no

# FastDirs, these allow you jump directly to a directory, the key bindings are
# in the keymap file.
#Fastdir1 = /mp3/rock
#Fastdir2 = /mp3/electronic
#Fastdir3 = /mp3/rap
#Fastdir4 = /mp3/etc
#Fastdir5 = 
#Fastdir6 = 
#Fastdir7 = 
#Fastdir8 = 
#Fastdir9 = 
#Fastdir10 =

# How fast to seek? Number of seconds per key stroke.
#SeekTime		= 1

# Resample method to use. There are few methods of resampling sound supported
# by libresamplerate. The default is the fastest (linear). Better description
# is here: http://www.mega-nerd.com/libsamplerate/api_misc.html#Converters
#
# High quality (based on bandlimited interpolation), but slow methods:
#
# SincBestQuality - really slow (I know you probably have an xx GHz processor,
#			but it's not enough to not see this in the top output :)
#			The worst case Signal-to-Noise Ratio is 97dB.
# SincMediumQuality - much faster
# SincFastest - the fastest bandlimited interpolation
#
# Poor quality, but much faster methods:
#
# ZeroOrderHold - really poor quality, but it's really fast
# Linear - a bit better and a bit slower
#
#ResampleMethod		= Linear

# Always use this sample rate when opening the audio device (and resample the
# sound is necessary). When set to 0 the device is opened with the file's rate.
#ForceSampleRate	= 48000
